################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Inventroy Manager/.vs
/Inventroy Manager/obj
